.search__bar {
    padding: 0.5rem 1rem;
    border-radius: 50px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    width: max-content;
    margin-top: 50px;
  }
  
  .form__group span {
    font-size: 1.8rem;
    color: #ee6e6e;
  }
  
  .form__group input,
  .form__group select {
    border: none;
    font-size: 0.9rem;
    color: var(--heading-color);
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #f8f9fa;
  }
  
  .form__group input:focus,
  .form__group select:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(238, 110, 110, 0.5);
  }
  
  .form__group h6 {
    margin-bottom: 0;
  }
  
  .custom-select {
    appearance: none; /* Removes default dropdown arrow */
    background-image: url("data:image/svg+xml;charset=US-ASCII,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='gray' class='bi bi-chevron-down' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1.646 5.646a.5.5 0 0 1 .708 0L8 11.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 1rem;
  }

  
.search__icon i{
    font-size: 1.6rem;
    padding: 0.5rem;
    background: var(--secondary-color);
    color: #fff;
    border-radius: 10px 5px 10px 5px;
    cursor: pointer;
}

@media only screen and (max-width:992px){
  .search__bar{
    width: 100%;
  }

  /* .search__bar form{
    flex-wrap: wrap;
  } */

  /* .search__bar form .form__group{
    width: 48%;
  } */
}

@media only screen and (max-width:567px){
  .search__bar form .form__group{
    width: 100%;
  }
  .form__group input{
    font-size: 0.7rem;
  }
  .form__group span i{
    font-size: 1.1rem;
  }
  .form__group h6{
    font-size: 1rem;
  }
}